.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
body {
  background: #339900; 
}
span {
  display: block; 
}

.outline {
  text-align: center; 
  padding: 10px; 
  margin: 10px; 
  background: #FFF; 
  color: #cc0033; 
  border: 1px solid black; 
}
.scene {
  width: 120px; 
  height: 180px; 
  perspective: 360px; 
}
.card {
  width: 100%; 
  height: 100%; 
  position: relative; 
  transition: transform 1s; 
  transform-style: preserve-3d; 
}

.card__face {
  position: absolute; 
  height: 100%; 
  width: 100%; 
  backface-visibility: hidden; 
}

.card__face--front {
  background: white; 
}
.card__face--back {
  background: blue; 
  transform: rotateY(180deg); 
}

.card.is-flipped {
  transform: rotateY(180deg); 
}

.top{ 
  text-align: left;
}
.bottom{ 
  text-align: right;
}